{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
    {{mensaje}}
{% endblock %}

{% block contenidoQueCambia %}


        <!-- Masthead-->
        <header class="masthead">
            <div class="text-center text-white " style="font-size:15% ">
            </div>
        </header>

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<div Align="center" style="color:rgb(79, 21, 214); font-size:125%; width: 80%; margin: auto;">
    Nuestro sitio online reune los comentarios de los fanaticos del cine que ayudan a encontrar la pelicula perfecta para una cita o para un fin de semana lluvioso.

</div>

{% endblock %}