{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
    {{mensaje}}
{% endblock %}

{% block contenidoQueCambia %}

<form action="" method="POST" Align="center"
        style="margin: auto; margin-top: 8%; margin-bottom: 5%;
        width: 50%; 
        height: 75%; 
        border: 1px solid aqua;
        ">

            <h2 style="margin-bottom: 8%;">
                Pochoclera - Conectar
            </h2>

            {% csrf_token %}
                {{ form.as_p}}
            <button type="submit"> Conectar</button>
        </form>

{% endblock %}

