{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
    {{mensaje}}
{% endblock %}

{% block contenidoQueCambia %}

<form action="" method="POST" Align="center"
            style="margin: auto; margin-top: 8%; margin-bottom: 5%;
            width: 50%; 
            height: 75%; 
            border: 1px solid aqua;
            ">

                <h2 style="margin-bottom: 10%;">
                    Pochoclera - Registrar
                </h2>
                <div>
                    {% csrf_token %}
                        {{ form.as_p}}
                </div>
                <button type="submit"> Registrar</button>
            </form>

{% endblock %}


      